<!-- about Section -->
    <!--section id="about"은 앵커를 의미합니다. header.html에서 메뉴의 href="#about"과 같이 id와 주소를 같게 맞추어주시면 됩니다.-->
    <section id="about">
        <div class="container" style="padding-left:10%;padding-right:10%">
        <!--
                    **********************************************************************************
                     텍스트 부분을 없애려면 바로 아래의 <div class="row">~~~~~~~~</div>부분까지 주석처리 하면 됩니다.
                     *********************************************************************************
                     -->
            <div class="row">
                <div class="col-lg-12 text-center">
                <!--
                    **********************************************************************************
                     about의 메인 텍스트
                     *********************************************************************************
                     -->
                    <h2 class="section-heading">About</h2>
                    <!--
                    **********************************************************************************
                     서브 텍스트
                     *********************************************************************************
                     -->
                    <h3 class="section-subheading text-muted">Let me Introduce.</h3>
                </div>
            </div>
            <!--
                    **********************************************************************************
                     텍스트 부분을 없애려면 여기까지 주석처리하시면 됩니다.
                     *********************************************************************************
                     -->
            <!--
                    **********************************************************************************
                    인적사항을 적는 부분. 인적사항은 _config.yml에서 수정하실 수 있습니다.
                    사진은 img/about에서 교체해주시면 됩니다. 확장자까지 써주세요.
                     *********************************************************************************
                     -->
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/about/{{ member.pic }}" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.email }}</p>
                        <p class="text-muted">{{ member.tel }}</p>
                        <!--
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>-->
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-8" style="text-align:left; margin-top:5%; padding-left:20%">
                <!--
                    **********************************************************************************
                     <h5>~~~~</h5>부분을 복사하여 원하시는 문구를 적으시면 됩니다.
                     텍스트 수직 위치가 맘에 안드실 경우, 위의 margin-top 수치를 조절하시면 됩니다.
                     *********************************************************************************
                     -->
                    <h5><i class="fa fa-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>Text 1 : Lorem yipsum</h5>
                    <h5><i class="fa fa-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>Text 1 : Lordfdfadfadfdem yipsum</h5>
                    <h5><i class="fa fa-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>Text 1 : Lorem yipsum</h5>
                    <h5><i class="fa fa-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>Text 1 : Lorem yipsum</h5>
                    <h5><i class="fa fa-circle" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>Text 1 : Lorem yipsum</h5>
                    </div>
                </div>
            </div>
            <!--
                    **********************************************************************************
                     요약 텍스트 부분인데, 필요 없어보이므로 주석처리하였습니다.
                     *********************************************************************************
                     -->
            <!--
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
            -->
        </div>
    </section>