  <section id="contact">
  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="margin-top:15px">
                <!--이메일 a 태그를 사용하여 메일 버튼을 누르면 바로 메일을 보낼 수 있습니다.-->
                    <a href="mailto:hnhsung@korea.ac.kr" class="non-deco"><span class="copyright"><i class="fa fa-envelope" aria-hidden="true">&nbsp;&nbsp;&nbsp;</i>hnhsung@korea.ac.kr</span></a>
                </div>
                <!--사진은 about과 같은 이미지를 사용하게 됩니다.-->
                <div class="col-md-4">
                    <img src="img/about/sunghun.jpg" class="img-responsive img-circle" alt="" style="width:20%;display:inline"> <p style="display:inline">&nbsp;&nbsp;&nbsp;Sunghun Lee</p>
                </div>
                <!--전화번호-->
                <div class="col-md-4" style="margin-top:15px">
                    <ul class="list-inline quicklinks">
                        <li><i class="fa fa-phone" aria-hidden="true">&nbsp;&nbsp;</i>+82-10-3466-0622</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</section>