<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll non-deco" href="#page-top">{{site.menu-title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li class="hidden">
                        <a href="#page-top"></a>
                    </li>-->
                    <!--
                    **********************************************************************************
                     href="#address"형식으로 쓰시면 되고, 이 뜻은 address라는 앵커를 가진 곳에 이동을 시키겠단 뜻입니다.
                     *********************************************************************************
                     -->
                    <li>
                        <a class="page-scroll non-deco" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll non-deco" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll non-deco" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll non-deco" href="#timeline">Timeline</a>
                    </li>
                    <li>
                        <a class="page-scroll non-deco" href="#resume">Resume</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <!--
                    **********************************************************************************
                     리딩 텍스트를 쓰시면 됩니다.
                     *********************************************************************************
                     -->
                <div class="intro-lead-in">Welcome To Our Studio!</div>
                <!--
                    **********************************************************************************
                     메인 텍스트를 쓰는 곳.
                     *********************************************************************************
                     -->
                <div class="intro-heading">It's Nice To Meet You</div>
                <!--
                    **********************************************************************************
                     버튼의 텍스트 및 링크를 지정하는 곳입니다. #의 의미는 같은 페이지 내의 앵커로 이동하겠다는 뜻이므로
                     외부 페이지를 링크하고 싶으면 href="http://naver.com"처럼 http://뒤에 주소를 쓰시면 됩니다.
                     또한, 새 탭에서 열리게 하고 싶으면 target="_blank"를 추가하시면 됩니다.
                        ex) <a href="http://naver.com" target="_blank" class="page-scroll btn btn-xl">Tell Me More</a>
                     *********************************************************************************
                     -->
                <a href="#services" class="page-scroll btn btn-xl non-deco">Tell Me More</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

