<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <!--
                    **********************************************************************************
                     메인 텍스트
                     *********************************************************************************
                     -->
                    <h2 class="section-heading">Portfolio</h2>
                    <!--
                    **********************************************************************************
                     서브 텍스트
                     *********************************************************************************
                     -->
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
            <!--포트 폴리오 수정은 _posts의 파일을 통해 하실 수 있습니다. order 값 순대로 배열이 됩니다. 포트폴리오를 추가하시려면 
            markdown파일을 더 추가하시면 됩니다.마크다운의 문법은 여기서 설명합니다.
            마크다운 파일의 이름은 년도-월-날-이름.markdown을 지켜주셔야 합니다.
            title : 포트폴리오의 제목입니다.
            subtitle : 포트폴리오의 서브제목입니다.
            layout:default로 유지합니다.
            modal-id : 포트폴리오의 번호와 동일하게 해주세요.
            order : 포트폴리오가 보이는 순서를 변경합니다.
            date: 포트폴리오의 날짜를 의미합니다. 따로 반영되지 않습니다. 신경안쓰셔도 됩니다.
            img:클릭 후 나오는 내부 문서의 이미지입니다.
            thumbnail : 버튼의 썸네일 이미지입니다.
            alt:이미지의 설명인데, 신경안쓰셔도 됩니다.
            project-date : 클릭 시 나오는 modal의 date에 반영됩니다.
            client : 클릭 시 나오는 modal의 client에 반영됩니다.
            category : 클릭 시 나오는 modal의 Services에 반영됩니다.
            description: 클릭시 나오는 modal의 설명에 반영됩니다. 이 설명은 html태그도 사용하므로, project-1.markdown에 적힌 예시처럼
            링크를 삽입할 수도 있습니다.
            예시)
            description: Lorem ipsum <a arget="_blank" href="http://naver.com">dolor</a> sit amet, usu cu alterum nominavi lobortis. At duo novum diceret. Tantas apeirian vix et, usu sanctus postulant inciderint ut, populo diceret necessitatibus in vim. Cu eum dicam feugiat noluisse.
            link : 프로젝트 링크 주소를 적어주세요.
            ex) http://naver.com
            -->
            {% assign sorted_pages = (site.posts | sort:'order')%}
            {% for post in sorted_pages %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <h2>More detail</h4>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
