<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">
    <!--다음과 같은 순서로 파일들을 불러와 배치합니다.-->
    <!--메인 및 메뉴-->
    {% include header.html %}
    <!--about-->
    {% include about.html %}
    <!--portfolio-->
    {% include portfolio_grid.html %}
    <!--timeline-->
    {% include timeline.html %}
    <!--resume-->
    {% include resume.html %}
    <!--footer(contact)-->
    {% include footer.html %}
    <!--아래 두 파일은 portfolio를 눌렀을 때 나오는 페이지와, 자바스크립트 애니메이션에 관련된 파일이므로 지우지 마세요.-->
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>